#wrapper {
	min-width: 1000px;
	max-width: 3000px;
	margin: 0px auto;
	min-height: 95%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 80px;
	background: #FFFFFF;
}


/* Logo
-----------------------------------------------------------------------------*/
#logo {
    top: 20px;
    bottom: 0px;
    left: 30px;
    width: 90%;
    position: relative;
}



/* Middle
-----------------------------------------------------------------------------*/
#content {
    top: 20px;
    margin-left: 60px;
    margin-right: 200px;
    position: relative;

}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
    position: fixed;
    left: 20px; bottom: 20px;
    padding: 0px;
    width: 90%;
    clear: both;
}


#searchBar {
    top: 15px;
    bottom: 0px;
    left: 5px;
    width: 90%;
    position: relative;
}
#searchRezults {
    top: 15px;
    bottom: 0px;
    left: 60px;
    width: 90%;
    position: relative;
}




