* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}



#footer-theme {
    background: #fff;
    color: #8e9bce; /* Font Color */
    font-size: 16px;
    font-family: serif;

}
a{
    top: 0px;
    bottom: 0px;
    left: 0px;
    color: #551a8b;
    font-size: 16px;
    font-family: serif;

}

.content-text {
    color: #666666;
    top: 0px;
    bottom: 15px;
    left: 0px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: justify;
}

.submit {
    color: #000;
    width: 55px;
    height: 26px;
    border: medium;
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;

}

.text {
    color: rgb(192, 192, 192);
    font-size: 14px;
    font-family: sans-serif;
    width: 255px;
    height: 22px;
    border-style: solid;
}

.mySearch {
 color: #aaa;
 font-size: 14px;
    font-family: sans-serif;
    width: 255px;
    height: 22px;
    border-style: solid; }
.autoclear-normalcolor { color: #000; }


